<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etocrm.com.etocrm.memcached.dao.SensitiveWordDao">

    <select id="getSensitiveWord" resultType="java.lang.String">
        select sensitive_world from t_sensitive_world
    </select>

</mapper>